<!DOCTYPE html>
{% load static %}

<html>
<head>
	<title>Animated Login Form</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="{% static 'img/wave.png' %}">
	<div class="container">
		<div class="img">
			<img src="{% static 'img/bg.svg' %}">
		</div>
		<div class="login-content">
			<form method="POST" action="">
				{% csrf_token %}
				<img src="{% static 'img/avatar.svg' %}">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" name="username" class="form-control">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>password</h5>
           		    	<input type="password" name="password" class="form-control">
            	   </div>
            	</div>
            	<input type="submit" class="btn" value="Login">
            	<a href="{% url 'registration' %}">Registration</a>

            </form>



        </div>
    </div>
	{% for message in messages %}
    <p id="messages">{{ message }}</p>
    {% endfor %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
